/*
 * HTML5 Boilerplate
 *
 */

/* =============================================================================
   @font-face declaration
   ========================================================================== */

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/cabin/Cabin-Regular-webfont.eot');
    src: url('../fonts/cabin/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/Cabin-Regular-webfont.woff') format('woff'),
         url('../fonts/cabin/Cabin-Regular-webfont.ttf') format('truetype'),
         url('../fonts/cabin/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('../fonts/cabin/Cabin-Italic-webfont.eot');
    src: url('../fonts/cabin/Cabin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/Cabin-Italic-webfont.woff') format('woff'),
         url('../fonts/cabin/Cabin-Italic-webfont.ttf') format('truetype'),
         url('../fonts/cabin/Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('../fonts/cabin/Cabin-Medium-webfont.eot');
    src: url('../fonts/cabin/Cabin-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/Cabin-Medium-webfont.woff') format('woff'),
         url('../fonts/cabin/Cabin-Medium-webfont.ttf') format('truetype'),
         url('../fonts/cabin/Cabin-Medium-webfont.svg#CabinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('../fonts/cabin/Cabin-MediumItalic-webfont.eot');
    src: url('../fonts/cabin/Cabin-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/Cabin-MediumItalic-webfont.woff') format('woff'),
         url('../fonts/cabin/Cabin-MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/cabin/Cabin-MediumItalic-webfont.svg#CabinMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('../fonts/cabin/Cabin-SemiBold-webfont.eot');
    src: url('../fonts/cabin/Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/Cabin-SemiBold-webfont.woff') format('woff'),
         url('../fonts/cabin/Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/cabin/Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('../fonts/cabin/Cabin-SemiBoldItalic-webfont.eot');
    src: url('../fonts/cabin/Cabin-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/Cabin-SemiBoldItalic-webfont.woff') format('woff'),
         url('../fonts/cabin/Cabin-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/cabin/Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('../fonts/cabin/Cabin-Bold-webfont.eot');
    src: url('../fonts/cabin/Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/Cabin-Bold-webfont.woff') format('woff'),
         url('../fonts/cabin/Cabin-Bold-webfont.ttf') format('truetype'),
         url('../fonts/cabin/Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('../fonts/cabin/Cabin-BoldItalic-webfont.eot');
    src: url('../fonts/cabin/Cabin-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin/Cabin-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/cabin/Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/cabin/Cabin-BoldItalic-webfont.svg#CabinBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/* Correct text resizing oddly in IE6/7 when body font-size is set using em units & Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g */
html { height: 100%; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: Cabin, sans-serif; color: #222; -webkit-font-smoothing: antialiased;  }

body { background-color: #f5f5f5; height:100%; margin: 0; font-size: 1em; line-height: 1.4; }

/* Remove text-shadow in selection highlight: h5bp.com/i & These selection declarations have to be separate & Also: hot pink! (or customize the background color to match your design) */
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #73a8ba; }
a:visited { color: #224573; }
a:hover { color: #5a97b7; }
* :focus { outline: 0; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; margin-left: 18px; width: 90%; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
ul { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/* Improve image quality when scaled in IE7: h5bp.com/d & Remove the gap between images and borders on image containers: h5bp.com/i/440 */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* Correct overflow not hidden in IE9 */
svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 25px;}
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* Correct color not inheriting in IE6/7/8/9 & Correct alignment displayed oddly in IE6/7 */
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/* Correct font-size not inheriting in all browsers, Remove margins in FF3/4 S5 Chrome & Define consistent vertical alignment display in all browsers */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) */
button, input { line-height: normal; }

/* Display hand cursor for clickable form elements, Allow styling of clickable form elements in iOS & Correct inner spacing displayed oddly in IE7 (doesn't effect IE6) */
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/* Re-set default cursor for disabled elements */
button[disabled], input[disabled] { cursor: default; }

/*Consistent box sizing and appearance*/
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/* Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 & Allow only vertical resizing */
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ======================== primary styles ====================================
   Author: David Odden
   ========================================================================== */

@-webkit-keyframes fade {
	0% {
		visibility: visible;
	    opacity: 0;
	}
	15% {
		visibility: visible;
	    opacity: .9;
	}
	90% {
		visibility: visible;
	    opacity: .9;
	}
	100% {
		visibility: hidden;
	    opacity: 0;
	}
}

@-webkit-keyframes slide_up {
	0% {
		margin-top: 0px;
	}
	100% {
		margin-top: -140px;
	}
}

/*------------------------------------
			GLOBAL VALUES
-------------------------------------*/

#wrapper { margin: 0 auto; }

#top_bar {
	position: relative;
	width: 100%;
	height: 65px; 
	position: block;
	z-index: 3000;
	margin:0;
	margin-bottom:1px;
	padding: 0;
	border-bottom: 2px solid #000000;
	border-top: 1px solid #000000;
	-webkit-box-shadow: 0 2px 0px -1px rgba(227,227,227,.3) inset;
	
	/* FLAT GREY/BLACK */
	/*background-image: -webkit-linear-gradient(top, #333739, #1e1f21); */
	background-image: -webkit-linear-gradient(top, #333333, #333333);
	
	/* NICE DARK GRADIENT */
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#343434), to(#222222));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #343434, #222222);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #343434, #222222);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #343434, #222222);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #343434, #222222);
	}

	#top_bar:before {
	   content:"";
	   position:absolute;
	   top: 1px;
	   bottom:0;
	   left:0;
	   right:0;
	   height: 64px;
	   background:url('../img/top_bar_bg3.png');
	   background-repeat: repeat-x;
	   opacity:0.14;
	}


	#top_bar h1 a {
		position: absolute;
		width:400px;
		top: 0;
		margin: 0;
		padding: 12px 0px 10px 20px;
		color: #e9e9e9;
		text-shadow: 0px -2px #232323;
		text-decoration: none; }


	#nav ul {position: absolute; list-style-type:none; margin:0; padding:0; right: 0; top: 23px; width: 410px;}
		#nav li { display:inline; left: 0; margin:20px; }
			#nav a { width:200px; text-decoration:none; font-family: CabinSemiBold; font-size: .92em; text-shadow: 0px -2px #232323;  color: #e9e9e9;}
			#nav a:active { text-shadow: 0px -2px #111111; color: #ffffff; }
			#nav a:hover { color: #ffffff;}



/*------------------------------------
			HOME PAGE STYLES
-------------------------------------*/


.blue_button {
	font-size: 1.2em;
	text-decoration:none;
	padding: 10px 44px;
	color: white;
	font-weight: bold;
	border: 1px solid #17789a;
	-webkit-border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#65aac3), to(#418fa9));
	-webkit-box-shadow: 0 1px 0 0 rgba(174,211,223,1) inset, 0 1px 0 rgba(0,0,0,.5);
}

.green_button {
	font-size: 1.2em;
	text-decoration:none;
	padding: 10px 44px;
	color: white;
	font-weight: bold;
	border: 1px solid #539f60;
	-webkit-border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#8fc598), to(#72af7c));
	-webkit-box-shadow: 0 1px 0 0 rgba(227,240,229,1) inset, 0 1px 0 rgba(0,0,0,.5);
}

#login_container {
	position: absolute;
	z-index: 5000;
	margin-top: 50px;
	right: 105px;
}

#signup_container {
	position: absolute;
	z-index: 5000;
	margin-top: 50px;
	right: 25px;
}

	#signup_li a {
		padding: 0px;
		margin: 0px;
		text-shadow: none;
		color: #272727;
	}

	#signup_li {
		background: white;
		padding: 6px 12px !important;
		border-radius: 3px;
	}

	#unicode_char {
		color: #545454;
		display: inline-block;
		-webkit-transform: scaleX(1.6);   
	    font-size: 20px;
		margin-left: 238px;
	}

	#unicode_char_2 {
		color: #545454;
		display: inline-block;
		-webkit-transform: scaleX(1.6);   
	    font-size: 20px;
		margin-left: 260px;
	}
	
	#modal_bg {
		background: -webkit-gradient(linear, left top, left bottom, from(#545454), to(#393939));
		color: #3a4043;
		font-family: Cabin;
		text-align: left;
		padding: 4px 3px;
		margin-top: -10px;
		box-shadow: 1px 1px 10px #000;
		-webkit-border-radius: 8px;
		width: 300px;
	}
	
	#login_cursor:hover {
		cursor:pointer;
		cursor:hand ;
	}
	
	form {
		padding: 0;
		margin: 0;
	}

	#modal_content {
		margin: 3px;
		padding: 10px;
		background-color: #f5f5f5;
		-webkit-border-radius: 5px;
	}

	#modal_content .input {
		width: 252px;
		height: 30px;
		border: 1px solid #b7b7b7;
		-webkit-border-radius: 3px;
		outline: none;
		margin: 5px 0px;
		font-size: 18px;
		padding: 7px 10px 0px 10px;
		-webkit-box-shadow: 0 1px 0 0 rgba(183,183,183,1) inset, 0 1px 0 rgba(255,255,255,1);
	}

	#modal_content input:focus {
		outline: none;
	}

	#submit_btn {
		margin-top: 10px;
		color: white;
		font-weight: bold;
		width: 274px;
		height: 42px;
		border: 1px solid #17789a;
		-webkit-border-radius: 3px;
		background: -webkit-gradient(linear, left top, left bottom, from(#65aac3), to(#418fa9));
		-webkit-box-shadow: 0 1px 0 0 rgba(174,211,223,1) inset, 0 1px 0 rgba(0,0,0,.5);
	}

	#register_btn {
		margin-top: 10px;
		color: white;
		font-weight: bold;
		width: 274px;
		height: 42px;
		border: 1px solid #2eac35;
		-webkit-border-radius: 3px;
		background: -webkit-gradient(linear, left top, left bottom, from(#75cf79), to(#55b95a));
		-webkit-box-shadow: 0 1px 0 0 rgba(182,229,184,1) inset, 0 1px 0 rgba(0,0,0,.5);
	}
	
	#dropdown_options {
		background: none;
		box-shadow: 0px 0px 0px #ffffff;
	}
	
#left_n_main {
}

#left_nav {
	background-color: #ececea;
	width: 230px;
	height: 100% !important;
	float:left;
	padding:0;
	margin-top: -1px;
	background-color: #E5E5E8;
	-webkit-box-shadow: 0px 1px 6px -1px rgba(0,0,0, .5) inset;
}
	
#main {
	margin-left: 240px;
	height: 100%;
	min-width: 600px;
	top: 72px;
}


/*----------------------------------------------
			HOME PAGE STYLES - Section 1
----------------------------------------------*/
	
#section_1 {
	margin: 0 auto;
	width: 1024px;
}

#section_1_content {
	margin-top: 60px;
}

#intro {
	position: relative;
	float: left;
	margin-left: 10px;
}

#intro_header {
	font-weight: normal;
	font-size: 2em;
	margin: 0px 0px 10px 40px;
	max-width: 400px;
	line-height: 1em;
}

#intro_body {
	color: #8c8c8c;
	font-size: 1.1em;
	margin: 0px 30px;
	max-width: 360px;
	line-height: 1.15em;
}

.btn_house {
	margin: 20px 10px;
	display:inline-block;
	padding: 16px 6px;
	border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#d7d7d7));
	-webkit-box-shadow: 1px 1px 0 0 rgba(0,0,0,.3) inset, 0 1px 0 rgba(255,255,255,.5);
}

#house1 {
	margin-left: 35px;
}

#join_btn {
	font-size: 1.2em;
	text-decoration:none;
	padding: 10px 44px;
	color: white;
	font-weight: bold;
	border: 1px solid #17789a;
	-webkit-border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#65aac3), to(#418fa9));
	-webkit-box-shadow: 0 1px 0 0 rgba(174,211,223,1) inset, 0 1px 0 rgba(0,0,0,.5);
}

#italic_for {
	font-size: .5em;
	font-weight: normal;
	font-style: italic;
	vertical-align: middle;;
}

#tour_btn {
	font-size: 1.2em;
	text-decoration:none;
	padding: 10px 44px;
	color: white;
	font-weight: bold;
	border: 1px solid #539f60;
	-webkit-border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, from(#8fc598), to(#72af7c));
	-webkit-box-shadow: 0 1px 0 0 rgba(227,240,229,1) inset, 0 1px 0 rgba(0,0,0,.5);
}


/*----------------------------------------------
			HOME PAGE STYLES - Section 2
----------------------------------------------*/

#section_2 {
	width:100%;
	margin-top: 30px; 
	background-color: #fefefe;
	-webkit-box-shadow: 1px 0px 2px 2px rgba(0,0,0,.12);
	float: left;
	position: relative;
}

a:hover {
	cursor: pointer;
	cursor: hand ;
}

#section_2_content {
	width: 1024px;
	margin: 0 auto;
}

#s2_options {
	position: relative;
	float: left;
	margin: 50px 0px 50px 60px;
}

#home_options {
	width: 146px;
}

#home_options li {
	padding: 12px;
	height: 26px;
}

#home_options li a {
	font-size: 18px;
	color: #3c89af;
	text-decoration: none;
}

#option_display {
	float: left;
	height: 310px;
	width: 800px;
	margin-top: 20px;
	margin-left: -47px;
	padding: 0px;
	overflow: hidden;
}

#white_fade {
    background-image: linear-gradient( top, 
            rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background-image: -moz-linear-gradient( top, 
            rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background-image: -ms-linear-gradient( top, 
            rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background-image: -o-linear-gradient( top, 
            rgba( 255, 255, 255, 0 ) 0%, rgba( 255, 255, 255, 1 ) 100% );
        background-image: -webkit-linear-gradient( top, 
            rgba( 255,255,255, 1 ) 0%, rgba( 255,255,255, 0 ) 20%, rgba( 255, 255, 255, 0 ) 80%, rgba( 255,255,255,  1 ) 100% );
		position: relative;
		float:left;
		top: 5px;
		margin-left: -41px;
		z-index: 1000;
		width: 40px;
		height: 335px;
	}

#option_line {
	float: left;
	display: inherit;
	height: 350px;
	width: 1px;
	margin: 5px 0px 0px 43px;
	border: 0;
    position:relative;

    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, top left, top right, color-stop(0%,rgba(208,208,208,0)), color-stop(10%,rgba(208,208,208,0)), color-stop(50%,rgba(208,208,208,0.65)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(208,208,208,0) 0%,rgba(208,208,208,0) 10%,rgba(208,208,208,.65) 50%,rgba(208,208,208,0) 90%,rgba(208,208,208,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(0208,208,208,0) 0%,rgba(208,208,208,0) 10%,rgba(208,208,208,0.65) 50%,rgba(208,208,208,0) 90%,rgba(208,208,208,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

	}
	
#option_info {
	float: left;
	margin: -4px 0px 0px 0px;
	padding: 0px;
	height: 350px;
	width: 756px;
	-webkit-box-shadow: -1px -1px 150px rgba(0,0,0,.1);
}

#img_placeholder_2 {
	position: relative;
	float: left;
	margin-left: 4%;
	width: 50%;
	height: 260px;
	margin-top: 5px;
	margin-right: 25px;
	background-color: grey;
}

#option_info_text h3 {
	margin: 20px 20px;
	font-size: 22px;
	line-height: 1em;
}

#option_info_text p {
	margin: 20px 20px;
	font-size: 14px;
	line-height: 1.4em;
	color: #8c8c8c;
}

#option_info_text  li {
	font-size: 14px;
	line-height: 1.7em;
	color: #8c8c8c;
}

.arrow-left {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid white;
}

#unicode_char_3 {
	color:white;
	display: block;
	float:left;
	-webkit-transform: scaleY(1.4)  scale(1.2);   
    font-size: 20px;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	position: relative;
	z-index: 400;
	text-shadow: 
	    -1px 0px 1px rgba(0,0,0,0.08), 
	    -5px 0px 8px rgba(0,0,0,0.08);
	margin-top: 60px;
}

.optsel {
	font-size: 1.25em !important;
	color: #272727 !important;
}

/*----------------------------------------------
			HOME PAGE STYLES - Section 3
----------------------------------------------*/

#section_3 {
	position: relative;
	float: left;
	width: 100%;
	height: 300px;
}

#section_3 h3 {
	text-align: center;
	font-size: 28px;
	margin: 10px 0px;
}

#section_3_content {
	width: 1024px;
	margin: 0 auto;
}

#section_3_content div {
	position: relative;
	float: left;
	margin: 20px 35px;
}

#section_3_content p {
	margin-left: -16px;
	font-size: 1.2em;
}

#mrkt_icon_1 {
	margin-left: 40px !important;
}

#mrkt_icons {
	margin: 0px;
	padding: 0px;
}

#login_footer p {
	margin: 15px 20px;
	float: left;
	font-size: 14px;
	color: #fefefe;
}

#login_footer p:nth-child(2) {
	margin: 15px 20px;
	float: right;
	font-size: 14px;
	color: #fefefe;
}

#mrkt_overflow {
	height: 190px;
	width: 100%;
	overflow: hidden;
}

.mrkt_icons {	-webkit-transition: all 0.6s ease-in-out; }

#mrkt_icon_1:hover, #mrkt_icon_2:hover, #mrkt_icon_3:hover, #mrkt_icon_4:hover {
	top: -170px !important;
}

.hover_info {
	width: 200px;
	font-size: 14px !important;
	line-height: 1.5em !important;
	color: #333 !important;
}

/*----------------------------------------------
		
----------------------------------------------*/

#login_footer {
	position: relative;
	float: left;
	width: 100%;
	height: 45px;
	z-index: 4000;
	background-color: #3a4043;
}

h3 {
	font-weight: normal;
	font-size: 2em;
	padding: 10px 20px 0px 20px;
	margin: 0; 
	color: #313639;
	}

.success {
	visibility:hidden;
	position: absolute;
	z-index: 1;
	width: 375px;
	background-color: #dff2bf;
	color: #4f8a10;
	padding: 15px 30px 15px 15px;
	margin-left: 30%;
	margin-top: 45px;
	border: 1px solid #4f8a10;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 0;
	}
	
.errorMsg {
	visibility:hidden;
	position: absolute;
	z-index: 1;
	width: 375px;
	background-color: #ffbaba;
	color: #dd0f1a;
	padding: 15px 30px 15px 15px;
	margin-left: 30%;
	margin-top: 45px;
	border: 1px solid #dd0f1a;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 0;
	}

ul.app_nav  { list-style-type: none; padding:0;margin:0; position: relative; z-index: 5000;}
ul.app_nav li {padding:0px;margin:0px;}
ul.app_nav  li a {
	display:block;
	text-align:left;
	text-decoration:none;
	font-family: CabinSemiBold, sans-serif;
	color: #f4f4f4;
	background-color: #535d65;
	border-top: 1px solid #6f7a81;
	border-bottom: 1px solid #383e42;
	margin: 0;
	padding:12px 0px 12px 40px;
	
	text-shadow: 0px -1px #111111; color: #f2f2f2;
	
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#58626a), to(#505a61));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #58626a, #505a61);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #58626a, #505a61);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #58626a, #505a61);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #58626a, #505a61);
	
	/* LIGHT VERSION 
	background-image: -webkit-linear-gradient(top, #e7edf5, #e6e9ed); 
	border-top: 1px solid #f2f4f6;
	border-bottom: 1px solid #c2c4c7;
	color: #454545;
	*/
	
	/* DARK VERSION 
	background-image: -webkit-linear-gradient(top, #292929, #252525); 
	border-top: 1px solid #323232;
	border-bottom: 1px solid #1b1b1b;
	color: #f4f4f4;
	*/
	
	/* MEDIUM VERSION 
	background-image: -webkit-linear-gradient(top, #505d66, #2a3740); 
	border-top: 1px solid #50585d;
	border-bottom: 1px solid #282d30;
	color: #f4f4f4;
	*/
	
	/* GREYISH VERSION	
	background-image: -webkit-linear-gradient(top, #64696d, #585d60);
	border-top: 1px solid #7a7e80;
	border-bottom: 1px solid #4c4f51;
	color: #f4f4f4;
	}
	*/
	
	/* GREENISH VERSION */
	background-image: -webkit-linear-gradient(top, #505d66, #2a3740); 
	border-top: 1px solid #50585d;
	border-bottom: 1px solid #282d30;
	color: #f4f4f4;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#44494e), to(#3e4346));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #44494e, #3e4346);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #44494e, #3e4346);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #44494e, #3e4346);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #44494e, #3e4346);
	}
	
ul.app_nav li a:hover {
	background-color: #323c44;
}

ul.app_nav li a:active {
	background-color: #151e24;
	background-image: -webkit-linear-gradient(top, #2b2c2d, #2b2c2d); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2c3032), to(#34383b));
	border-top: 1px solid #262a30;
}

ul.app_nav  li a:last-child {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0, .8);
}


.float_left {float:left;}
.float_right {float:right;}
	
#sortable { list-style: none; }
#sortable ul { padding: 0px; margin: 0px; }
#sortable li { display:block; padding: 0px; margin: 0px; }
#sortable li img.handle { float: right; margin: 0px; margin-top: -45px; padding: 10px; margin-right: 7px; cursor: move;}
.ui-sortable-helper { box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.30); -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.30); -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.30); }

#upload_form { margin-top: 0px; background-color: #fafafa; height: 240px; min-height: 195px; -webkit-box-shadow: -2px 1px 4px 0 rgba(0,0,0, .3); padding: 10px;}
#upload_form h3 { font-size: 20px; margin:0px; padding:0px 0px 10px 0px; }
#upload_app_msg { margin-top: 0; margin-bottom: 20px; padding-left: 8px; font-size: .84em; line-height: 1.6em; color: #555; }
#new_user_form { padding-left: 10%; }
#login_form { padding-left: 12%; }

/*-----------------------------------------------
			APP MANAGER STYLES
-----------------------------------------------*/

#app_manager_view_options_ul { float: right; margin-top: -26px; margin-right: 40px; }
#app_manager_view_options_ul li { display: inline; margin: 10px; }

#app_wrapper { padding-left: 0; }
#app_manager_container { margin-bottom: 40px; }
#available_app_container { height: 100%; }

.app_graphic {
	position: relative;
	float: left;
	width: 220px;
	height: 150px;
}

/* Icon View - Default Styles */
.each_app_wrapper {float:left; padding: 10px 0px 14px 10px; margin: 20px 10px 0 10px; margin-left: 40px; border-radius: 4px; }
.each_app_wrapper:hover { background-color: white; box-shadow: 0 1px 2px #999; }
.each_app_wrapper:last-child {margin-bottom: 60px;}

.placeholder {width: 220px; height: 150px; background-color: #ffffff; padding: 10px; margin: 0 0 7px 0; box-shadow: 0 1px 2px #999; border-radius: 4px; }
.each_app_wrapper:hover > .placeholder { box-shadow: 0 0 0 #ffffff; background-color: #ffffff; height: 160px; width: 230px; padding: 5px;}
.app_title { margin: 10px 0 4px -10px; font-size: 26px; }
.app_desc { margin:0 0 3px 10px; padding:0px; width: 240px; text-align:left; font-size: 14px; line-height: 1.4em;}

.activate_app_text {margin-top: 4px; font-size: 15px; margin: 0 0 0 8px}
.deactivate_app_text {color: #797f87; text-decoration: none; font-style:italic; font-size: 15px; margin: 0 0 0 8px}
a.deactivate_app_text {color: #797f87;}
a:hover.deactivate_app_text {text-decoration: underline;}

/* List View - jQuery AddClass Styles */
#app_manager_list_view_btn { cursor: pointer; cursor: hand; padding: 7px 14px 8px 14px; border: 1px solid #aeaeae; border-radius: 4px; background-color: #f0f0f0 ; box-shadow: 0px 1px 0px 0px #ffffff inset; }
#app_manager_icon_view_btn { cursor: pointer; cursor: hand; padding: 7px 10px 8px 14px; border: 1px solid #aeaeae; border-radius: 4px; background-color: #f0f0f0 ; box-shadow: 0px 1px 0px 0px #ffffff inset; }
.placeholder_list { float:left; margin: 20px 10px 0 0; padding: 4px;}
.app_title_list {  width: inherit; margin-top: -20px !important; padding: 0; }
.app_desc_list { width: inherit; margin-top: 0; padding: 0; }

.activate_app_text_list { margin-left: 0; width: inherit;}
.deactivate_app_text_list { margin-left: 0;}

.app_hr {width: 60%; display:block; margin:7px; margin-left: 30px;}


/*-----------------------------------------------
			GUIDLINES PAGE STYLES
-----------------------------------------------*/


.guideline_options {
	margin: -4px 12px;
	height: 120px;
	color: #333;
	padding: 0;
}

.guideline_options h4 {
	margin: 0;
	padding: 14px;
	font-size: 1.3em;
	font-weight: normal;
}

.guideline_arrow {
	display: inline-block;
	float:left;
	width: 0;
	height: 0;
	margin: 18px 12px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-left:10px solid #333;
}

.rotate_arrow {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-moz-transform: rotate(90deg); /* Firefox */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-o-transform: rotate(90deg); /* Opera */
}

.guideline_rules {
	position: relative;
	margin: 10px 0px;
	background-color: #fbfbfb;
	width: 650px;
	-webkit-box-shadow: 0px 1px 2px -1px rgba(0,0,0, .9);
	border: 1px solid #cdcdcd;
	border-radius: 6px;
}

.guideline_rules div {
	padding: 0 5px 15px 0px;
	width: 622px !important;
	margin: 0;
}

.guideline_rules a {
    color: #434343;
	cursor: pointer; cursor: hand;
}

#topic_list {
	margin: 0;
	padding-left: 12px;
}

#topic_list h5 {
	cursor: pointer; cursor: hand;
	color: #437aac;
	font-size: 1.25em;
	font-weight: normal;
	padding: 0 12px;
	margin: 12px 0 0 0;
}

#topic_list p {
	margin: 0 0 0 2px;
	padding: 0 12px;
	font-size: .8em;
}

.each_topic {
	position: relative;
	left: 0;
	margin: 0;
	padding: 10px;
	border-top: 1px solid #b0b0b0;
}

.each_topic:hover {
	background-color: #f5f5f5;
}

.each_topic:last-child {
	border-bottom: 1px solid #b0b0b0;
	margin-bottom: 5px;
}

.go_icon {
	position: absolute;
	right: 0px;
	top: 13px;
}

.topic_text {
	position: absolute;
	display: block;
	font-size: 10px;
	font-family: 'Cabin-Bold', sans-serif;
	font-weight: normal;
	top: 8px;
	right: 11px;
}

.topic_number {
	position: absolute;
	font-size: 26px;
	font-family: 'CabinBold', sans-serif;
	margin: 0;
	padding: 0;
	top: 19px;
	right: 10px;
}

#guidleline_search_form {
	float: right;
	margin: -34px 63px 0 0;
	border-radius: 100px;
}

#guidleline_search_form input {
	color: #999999;
	height: 30px;
	width: 200px;
	background-color: #f7f7f7;
	border-radius: 499px;
	padding: 0 0 0 10px;
	border: 1px solid #cdcdcd;
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255, 1);
}


/*-----------------------------------------------
			
-----------------------------------------------*/


.button_style {
	float:right;
	margin:10px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: CabinSemiBold;
	font-size:14px;
	color: #fefefe;
	padding: 8px 15px;
	text-shadow: 1px 1px #6c766c;
}

.button_styleII {
	z-index: 50000;
	cursor: pointer;
	cursor: hand;
	-moz-box-shadow: 1px 2px 1px #333;
	-webkit-box-shadow: 1px 1px 1px #333;
	box-shadow: 0px 1px 1px -1px #7e7e7e inset,0px 1px 1px -1px #444;
	color: #fff;
	font: normal 1em Cabin-Bold, sans-serif;
	-moz-text-shadow: 0 -1px 0px #333;
	-webkit-text-shadow: 0 -1px 0px #333;
	text-shadow: 0 -1px 0px #333;
	position: relative;
	padding: 10px 15px 9px;
	margin: 13px 0px;
	width: 100%;
}

.blue_btn {
	border: 1px solid #124873;
	margin: -38px 40px 10px 10px;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6096bd), to(#427caa));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #6096bd), #427caa); 
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #6096bd), #427caa);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #6096bd), #427caa);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #6096bd), #427caa);
	border: 1px solid #17789a;
	-webkit-border-radius: 3px;
	/* background: -webkit-gradient(linear, left top, left bottom, from(#65aac3), to(#418fa9)); */
	-webkit-box-shadow: 0 1px 0 0 rgba(174,211,223,1) inset, 0 1px 0 rgba(0,0,0,.7);
}

.green_btn {
	border: 1px solid #707e70;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fc598), to(#72af7c));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #94ba80, #6c9c55); 
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #94ba80, #6c9c55);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #94ba80, #6c9c55);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #94ba80, #6c9c55);
	border: 1px solid #539f60;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 0 rgba(227,240,229,1) inset, 0 2px 0 rgba(49,92,28,.8);
}

.red_btn {
	border: 1px solid #841e1e;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bd6060), to(#ab4343));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #bd6060, #ab4343); 
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #bd6060, #ab4343);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #bd6060, #ab4343);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #bd6060, #ab4343);
}

.mobile_btn {
	z-index: 50000;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #1a1a1a;
	-moz-box-shadow: 1px 2px 1px #333;
	-webkit-box-shadow: 1px 1px 1px #333;
	box-shadow: 0px 1px 1px -1px #7e7e7e inset,0px 1px 1px -1px #444;
	color: #fff;
	font: normal 1em Cabin-Bold, sans-serif;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-text-shadow: 0 -1px 1px #1a1a1a;
	-webkit-text-shadow: 0 -1px 1px #1a1a1a;
	text-shadow: 0 -1px 1px #1a1a1a;
	padding: 10px 15px 9px;
	position: relative;
	margin: 13px 15px;
	background-color: #767676;
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bdbdbd), to(#727272), color-stop(0.06, #8d8d8d));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #bdbdbd 3%, #8d8d8d 5%, #727272); 
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #bdbdbd 3%, #8d8d8d 5%, #727272);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #bdbdbd 3%, #8d8d8d 5%, #727272);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #bdbdbd 3%, #8d8d8d 5%, #727272);
	
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#343434), to(#222222));
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #292929 2%, #363434 5%, #232222);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #343434, #222222);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #343434, #222222);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #343434, #222222);
}

#menu { display: none;}
#dropdown_menu_btn { display:none;}

/* ==================================================================
    MEDIA QUERIES  div.app_nav {width: 100%; height: 45px; background-color: #535d65;text-align:center; margin: 0 auto;}
   ========================================================================== */

@media only screen and (min-width: 52em) {
  /* Style adjustments for viewports that meet the condition */
	#dropdown_options {
	display: inline;
	}
}

@media only screen and (max-width: 52em) {
	
	#top_bar {
		position: fixed;
	}
	
	#left_nav {
		left: -240px;
		margin-top: 66px;
		position: fixed;
	}
	
	#main {
		margin-left: 0px;
		padding-left: 0px;
		padding-top: 70px;
	}
	
	#top_bar h1 a {
		text-align: center;
		margin: 0 auto;
		padding: 12px 0px 10px 0px;
	}

	#nav { margin: 0; padding: 0; top: 0;}
		#nav ul {width: 130px; top: 10px;}
			#nav li { float:left; margin: 16px 10px ; }
			#nav li:after{ content: ""; border-bottom: 1px solid #000;}
	
	#dropdown_menu_btn {
		top: -21px;
		display: block;
		float: right;
	}
	
	#menu {
		display: block;
		float: left;
	}
	
	#dropdown_options {
		display: block;
		position: relative;
		float: right;
		right: -78px;
		z-index: 300;
		background: -webkit-gradient(linear, left top, left bottom, from(#545454), to(#393939));
		color: #3a4043;
		font-family: Cabin;
		text-align: left;
		padding: 4px 3px;
		box-shadow: 1px 1px 5px #888;
		-webkit-border-radius: 8px;
		width: 140px;
		height: 180px;
		margin-top: 50px;
		margin-right: 0;
	}

	#unicode_char_mobile {
		color: #545454;
		display: inline-block;
		-webkit-transform: scaleX(1.6);   
	    font-size: 20px;
		margin-left: 260px;
	}

}

@media only screen and (max-width: 36.2em) {
	#top_bar h1 {
		margin-left: 4%;
	}
}

@media only screen and (max-width: 28em) {
	#top_bar h1 a {
		margin-left: -30%;
	}
	
	#main {
		min-width: 240px;
	}
	
	#app_manager_container {
		min-width: 300px;
	}
}

@media only screen and (max-width: 25em) {
	#top_bar h1 a  {
		margin-left: -38%;
	}
}

/* ======================= non-semantic helper classes ======================
   Define styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ========================== print styles ==================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
